

body {
    background-color: rgb(26, 112, 145);
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: Akbar;
}

.feedback body {
    background-color: rgb(26, 112, 145);
    font-size: 50px;
    text-align: center;
    background-image: url(../images/simpsons-12705.png);
    height: 400px;
    font-weight: bold;
    width: 100%;

}

feedback, button {
    font-size: 30px;
    margin-top: 20px;
    padding: 10px 20px;
    border-radius: 5px;
    border: none;
    background-color: #bbb814;
    color: black;
    cursor: pointer;
}   

.form-select {
    font-size: 30px;
    margin-top: 20px;
    padding: 10px;
    border-radius: 5px;
    border: 2px solid #ccc;
}

.button-btn-primary {
    font-size: 30px;
    margin-top: 20px;
    padding: 10px 20px;
    border-radius: 5px;
    border: none;
    background-color: #bbb814;
    color: black;
    cursor: pointer;
}   

.ultimateh1 {
    background-color: rgba(0, 0, 0, 1.5);
}

.instructions body {
    background-color: rgb(26, 112, 145);
    font-size: 100px;
    text-align: center;
    background-image: url(../images/bart.png);
    height: 300px;
    font-weight: bold;
}

.instructions, h2 {
    font-size: 100px;        
    margin: 20px;
    font-weight: bold;
    font-family: Akbar;
}

.instructions, p {
    font-size: 50px;        
    margin: 20px; 
    font-weight: bold;  
    font-family: Akbar;
}

.instructions, ol, li {
    font-size: 24px;        
    margin: 20px; 
    font-weight: bold;  
    font-family: Akbar;
}

.navbar {
    background-color: #bbb814;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

nav ul li {
    list-style: none;
    display: inline-block;
    margin: 0 20px;
    font-size: 24px;
    font-weight: bold;
}

.logo {
    background-image: url('../images/simpsons-12681.png');
    height: 400px;
    background-size: cover;
    background-position: center;
    display: block;
    margin: 20px auto;
    max-width: 400px;

}

h1 {
    text-align: center;
    font-size: 4rem;
    font-family: Akbar;
    background-color: rgba(255, 255, 255, 0.8);
    border: rgba(0, 0, 0, 0.5) 5px solid;
    color: #bbb814;
    text-shadow: 2px 2px #000000;
    background-image: url('../images/cloud.jpg');
    background-size: cover;
    background-position: center;
    padding: 20px;
    border-radius: 10px;
    height: 200px;
    padding-top: 10%;
    
}



.quiz-container {
    width: 100%;
    margin: 40px auto;
    text-align: center;
}

#question {
    font-size: 2em;
    margin-bottom: 20px;
    text-align: center;
}

#options {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
    font-size: 24px;
}

.options {
    margin: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    cursor: pointer;
    font-size: 24px;
}

.option:hover {
    background-color: #f0f0f0;
}

#submit-btn {
    padding: 10px 20px;
    font-size: 1em;
    cursor: pointer;
    border: none;
    background-color: #bbb814;
    color:rgba(26, 112, 145);
   
}

#submit-btn:hover {
    background-color: #bbb814;
}

#result {
    font-size: 1.2em;
    margin-top: 20px;
    text-align: center;
}

#score {
    font-size: 2em;
    margin-top: 20px;
    text-align: center; 
}

#start-btn {
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
     width: 200px;
    height: 50px;
    font-size: 18px;

}

#start-btn button {
    padding: 15px 30px;
    font-size: 1.5em;
    cursor: pointer;
    border: none;
    background-color: #ffcc00;
    color: #333;
    border-radius: 5px;
    align-items: center;
    justify-content: center;
}

#reset-btn {
    padding: 10px 20px;
    font-size: 1em;
    cursor: pointer;
    border: none;
    background-color: #bbb814;
    color: black;
    margin-left: 700px;
    font-weight: bold;
}

#message {
    font-size: 30px;
    margin-top: 20px;
    text-align: center;
    font-weight: bold;
    color: #bbb814;
    text-shadow: 2px 2px #000;
}   

.btn btn-primary {
    font-size: 30px;
    margin-top: 20px;
    padding: 10px 20px;
    border-radius: 5px;
    border: none;
    background-color: #bbb814;
    color: black;
    cursor: pointer;
}

footer {
    text-align: center;
    font-size: 40px;
    color: #bbb814;
    background-color: rgba(0, 0, 0, 0.5);
}
@media screen and (max-width: 360px) {
    reset-btn {
        margin-left: 60%;
        margin-top: 20px;
    }
}

@media (max-width: 600px) {
    h1 {
        font-size: 2.5rem;
        height: auto;
        padding: 10px;
    }

    #options {
        font-size: 18px;
    }

    .option {
        font-size: 18px;
        padding: 8px;
    }

    #submit-btn, #reset-btn {
        font-size: 0.8em;
        padding: 8px 16px;
    }

    #reset-btn {
        margin-left: 20%;
        margin-top: 20px;
    }

    .quiz-container {
        width: 90%;
    }   
}