body {
    background-color: lightskyblue;
}

h1 {
    text-align: center;
    margin-bottom: 100px;
    font-family: 'Arial', sans-serif;
    color: #ffcc00;
    text-shadow: 2px 2px #000;
    background-image: url(../images/cloud.jpg);
    background-size: cover;
    padding: 20px;
    background-position: center;
    height: 200px;
}


.logo {
    background-image: url('../images/simpsons-12681.png');
    margin: 20px auto;
    display: block;
    width: 300px;
    height: auto;
    background-size: cover;
    background-position: center;
}



.quiz-container {
    width: 80%;
    margin: 40px auto;
    text-align: center;
}

#question {
    font-size: 1.5em;
    margin-bottom: 20px;
}

#options {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
}

.option {
    margin: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    cursor: pointer;
}

.option:hover {
    background-color: #f0f0f0;
}

#submit-btn {
    padding: 10px 20px;
    font-size: 1em;
    cursor: pointer;
    border: none;
    background-color: #4CAF50;
    color: white;
}

#submit-btn:hover {
    background-color: #45a049;
}

#result {
    font-size: 1.2em;
    margin-top: 20px;
}

background {
    background-image: url('simpsons_background.jpg');
    background-size: cover;
    background-position: center;
    height: 100vh;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
}   